<h1>Centro de Mensajes</h1>

<form id='chatForm'>
    <input type="text" id="correo" name="correo" placeholder="Ingresa tu correo" required>
    <br>
    <div id="messeges"></div>
    <br>
    <input type="text" id="mensajes" name="mensajes" placeholder="Escribi tu mensaje">
    <br>
    <button>Enviar</button>
</form>

<div id="messeges">